.env
.DS_Store
.idea
logs
*.log
img
fontawesome
assets
scss/_*
scss/bootstrap*
scss/vendor
scss/utilities
scss/mixins
js
css/bootstrap*
css/vendor
css/brands*
css/duotone*
css/fontawesome*
css/light*
css/regular*
css/solid*
css/v4-shims*
*.answer.*
